*.egg
*.egg-info
*.mo
*.py[cod]
*.so
.coverage
.idea/
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
.vimrc
/.cache
/.ropeproject
/_
/libs
/todo.rst
/todo.txt
bin
build
develop-eggs
dist
docs/_build
eggs
env
lib
lib64
nosetests.xml
parts
pip-log.txt
plugins
sdist
var
