include AUTHORS
include Changelog
include LICENSE
include MANIFEST.in
include README.rst

recursive-include requirements *.txt
recursive-include pylama *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
